.title {
  background-color: gray;
  color: orange;
  font-size: 24px;
  display: flex;
  transform: translateX(300px);
}

@keyframes myfirst
{
    from {background: red;}
    to {background: yellow;}
}